@{
    Layout = null;
}
@model Models.SeeNews
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddGift</title>
    <link href="~/Content/style/tableStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/MyAjaxForm.js"></script>
    <link href="~/Content/layui-v1.0.9_rls/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <script src="~/Content/layui-v1.0.9_rls/layui/lay/modules/layer.js"></script>
    <script type="text/javascript">
        function submitForm() {
            if ($('#title').val() == "") {
                layer.msg("提示：请输入标题名称!");
                return;
            }
            if ($('#url').val() == "") {
                layer.msg("提示：请输入看新闻链接!");
                return;
            }

            layer.confirm('提示：您是否已确认输入无误？', {
                skin: 'layui-layer-lan',
                btn: ['是的', '没有呀'] //按钮
            }, function () {
                $("#ff").ajaxSubmit({
                    url: '/AdminData/SeeNewsUpdate',
                    type: "post",
                    success: function (data) {
                        if (data == "ok") {
                            layer.msg("恭喜：更新成功!");
                            window.setTimeout(function () {
                                window.location.href = "/AdminData/RecSeeNews";
                            }, 2000);
                        } else if (data == "no") {
                            layer.msg("提示：修改失败！");
                        } else if (data == "empty") {
                            layer.msg("提示：请选择要添加的数据！");

                        } else {
                            layer.msg("提示：系统异常请稍候再试！");
                        }
                    },
                });
            });
        }
        $(function () {
            $("#Upload").click(function () {
                $("#ff").ajaxSubmit({
                    url: "/AdminData/UploadTxtImg",
                    type: "Post",
                    success: function (logo) {
                        var msg = logo.split(',');
                        //返回后台保存图片的服务器地址就可以了。
                        if (msg[0]== "typeError") {
                            layer.msg("请选择正确的图片格式！");

                        } else if (msg[0] == "empty") {

                            layer.msg("您懂上传吗？");
                        }
                        else {
                            $("#tdLoGo").html("<img src='/Content/PublicImg/" + logo + "' />");
                            var fulldir = "/Content/PublicImg/" + logo;
                            $("#logo").val(fulldir);
                        }
                    }
                });
            });
        });
    </script>

</head>
<body>
    <form id="ff" enctype="multipart/form-data" method="post" data-options="novalidate:true ">
        <input type="hidden" id="id" name="id" value="@Model.Id" />
        <table style="width:100%;">
            <tr>
                <th colspan="2">看新闻编辑</th>
            </tr>
            <tr>
                <td align="right">
                    标题名称
                </td>
                <td>
                    <input class=".addText" type="text" id="title" name="title" placeholder="请输入标题名称" style=" width:370px;" value="@Model.Title" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    链接
                </td>
                <td>
                    <input id="url" name="url" value="@Model.Url" style=" width:370px;" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    类型
                </td>
                <td>
                    <select id="type" name="type" style="width:370px;">
                        @if (Model.Type == "1")
                        {
                            <option value="1" selected> 新游在线</option>
                            <option value="2">热游动态</option>
                            <option value="3">产业资讯</option>
                            <option value="5">直播热点</option>
                            <option value="6">手机游戏</option>
                            <option value="7">幻灯轮播</option>
                            <option value="8">红字头条</option>
                            <option value="9">灰字头条</option>
                            <option value="10">五条置顶区</option>
                        }
                        else if (Model.Type == "2")
                        {
                            <option value="1" > 新游在线</option>
                             <option value="2" selected>热游动态</option>
                            <option value="3">产业资讯</option>
                            <option value="5">直播热点</option>
                            <option value="6">手机游戏</option>
                            <option value="7">幻灯轮播</option>
                            <option value="8">红字头条</option>
                            <option value="9">灰字头条</option>
                            <option value="10">五条置顶区</option>
                        }
                        else if (Model.Type == "3")
                        {
                            <option value="1"> 新游在线</option>
                            <option value="2" >热游动态</option>
                             <option value="3" selected>产业资讯</option>
                            <option value="5">直播热点</option>
                            <option value="6">手机游戏</option>
                            <option value="7">幻灯轮播</option>
                            <option value="8">红字头条</option>
                            <option value="9">灰字头条</option>
                            <option value="10">五条置顶区</option>
                        }
                        else if (Model.Type == "5")
                        {
                            <option value="1"> 新游在线</option>
                            <option value="2" >热游动态</option>
                            <option value="3">产业资讯</option>
                            <option value="5" selected>直播热点</option>
                            <option value="6">手机游戏</option>
                            <option value="7">幻灯轮播</option>
                            <option value="8">红字头条</option>
                            <option value="9">灰字头条</option>
                            <option value="10">五条置顶区</option>
                        }
                        else if (Model.Type == "6")
                        {
                            <option value="1"> 新游在线</option>
                            <option value="2">热游动态</option>
                            <option value="3">产业资讯</option>
                            <option value="5">直播热点</option>
                            <option value="6" selected>手机游戏</option>
                            <option value="7">幻灯轮播</option>
                            <option value="8">红字头条</option>
                            <option value="9">灰字头条</option>
                            <option value="10">五条置顶区</option>
                        }
                        else if (Model.Type == "7")
                        {
                            <option value="1"> 新游在线</option>
                            <option value="2" >热游动态</option>
                            <option value="3">产业资讯</option>
                            <option value="5">直播热点</option>
                            <option value="6">手机游戏</option>
                            <option value="7" selected>幻灯轮播</option>
                            <option value="8">红字头条</option>
                            <option value="9">灰字头条</option>
                            <option value="10">五条置顶区</option>
                        }
                        else if (Model.Type == "8")
                        {
                            <option value="1"> 新游在线</option>
                            <option value="2" >热游动态</option>
                            <option value="3">产业资讯</option>
                            <option value="5">直播热点</option>
                            <option value="6">手机游戏</option>
                            <option value="7">幻灯轮播</option>
                            <option value="8" selected>红字头条</option>
                            <option value="9">灰字头条</option>
                            <option value="10">五条置顶区</option>
                        }
                        else if (Model.Type == "9")
                        {
                            <option value="1"> 新游在线</option>
                            <option value="2" >热游动态</option>
                            <option value="3">产业资讯</option>
                            <option value="5">直播热点</option>
                            <option value="6">手机游戏</option>
                            <option value="7">幻灯轮播</option>
                            <option value="8">红字头条</option>
                            <option value="9" selected>灰字头条</option>
                            <option value="10">五条置顶区</option>
                        }
                        else if (Model.Type == "10")
                        {
                            <option value="1"> 新游在线</option>
                            <option value="2" >热游动态</option>
                            <option value="3">产业资讯</option>
                            <option value="5">直播热点</option>
                            <option value="6">手机游戏</option>
                            <option value="7">幻灯轮播</option>
                            <option value="8">红字头条</option>
                            <option value="9">灰字头条</option>
                            <option value="10" selected>五条置顶区</option>
                        }                  
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">
                    轮廓图
                </td>
                <td>
                    <label style="color:red;font-weight:600">((图片大小610*280,不符合要求的图片将会被拉伸;幻灯轮播只需要上传图片、其他可选))</label><br />
                    <input type="file" name="logoImgs" />
                    <input type="button" id="Upload" value="上传" />
                    <input type="hidden" name="logo" id="logo" value="@Model.Image" />
                    <br />
                    @if (Model.Image!="")
                    {
                        <span id="tdLoGo"><img src="@Model.Image" style="display: block; clear: both;height:150px;width:300px;" /></span> 
                    }
                    else { 
                      <span id="tdLoGo"></span> 
                    }
                  
</td>
            </tr>
            <tr>
                <td colspan="2" style="padding-left:17%;padding-top:13px">
                    <a href="javascript:void(0)" id="btnAdd" style="width:100px;height:25px;color:#ff6a00;font-size:large" onclick="submitForm()">提交</a>&nbsp;&nbsp;<a href="javascript:;" onclick="    history.go(-1)" style="width:100px;height:25px;color:#e6a758;font-size:large">返回</a>
                </td>
            </tr>
        </table>
    </form>

</body>
</html>
