@{
    Layout = null;
}
@model Models.MapModel.GirlsViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@Model.Title _福利美图_爽赞网</title>
    <meta name="keywords" content="美女图片,性感美女,美女写真,高清壁纸,美女COS,游戏原画,同人美图，美女壁纸，福利美图，淘福利，二次元壁纸，cos壁纸">
    <meta name="description" content="福利美图频道提供养眼福利的性感美女照片,高清福利壁纸,精美Cosplay照片及同人美图,欣赏各种养眼美图,尽在爽赞网福利美图频道">
    <link href="~/Content/Css/index.css" rel="stylesheet" />
    <link href="~/Content/Css/reset.css" rel="stylesheet" />
    <link href="~/Content/Css/amoywel.css" rel="stylesheet" />
    <link href="~/Content/Css/Public.css" rel="stylesheet" />
    <link href="~/Content/Css/lunbo.css" rel="stylesheet" />
    <link href="~/Content/Css/news.css" rel="stylesheet" />
    <link href="~/Content/Css/commercial.css" rel="stylesheet" />
    <link href="~/Content/Css/usename.css" rel="stylesheet" /> 
    <link href="/Content/Img/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link href="~/Content/Css/new_games-1.css" rel="stylesheet" />
    <link href="~/Content/Css/mntk_details-1.css" rel="stylesheet" />
    <link href="~/Content/style/NavPager.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/js/doT.js"></script>
</head>
<body>
    @Html.Action("_TwoShuangzanHeader", "Home")
    @Html.Action("ShuangzanHeader", "NewsInfo")
    <div class="winpic-box">
        <div class="winpic-content">
            <img src="" />
        </div>
        <div class="closepic">X</div>
    </div>
    <div class="wide details">当前位置：<a href="/Home/Index">爽赞网</a> > <a href="#">福利美图</a> > <a href="##">@Model.Title</a></div>
    <div class="info wide clearfix">
        <div class="title-3 fans fans1">
            <h1>@Model.Title</h1>
            <span>发布时间：@Model.InTime.Value.ToString("yyyy-MM-dd")</span><span>浏览：<i id="number">@Model.Views</i></span><span><a href="#comment">留言：<i>@Model.LeaveMsgCount</i></a></span>
        </div>
        <div class="text-content text-content1 fans fans1 clearfix" style="overflow:visible" ;>
            <div class="text-content-1 clearfix">
                <img src="/Content/Img/11.png">
                <p class="p-width">@Model.LeadTxt</p>
                <img src="/Content/Img/12.png">
            </div>
            <div class="pic-3-container">
                <div class="pic-3-content clearfix">
                    @foreach (var item in (List<Models.MapModel.GirlsViewModel>)ViewBag.arryImg)
                    {
                        <div><img src="/Content/GirlImg/@item.Image" /></div>
                    }                                   
                </div>
                <img src="/Content/Img/pic-prev.png" class="pic-prev" />
                <img src="/Content/Img/pic-next.png" class="pic-next" />
                <img src="/Content/Img/showpic.png" class="showbigpic" />
            </div>
            <div class="pic-3-numbox"><span><span class="numbox-1">1</span>/<span class="numbox-2"></span></span></div>
            <div class="pic-3-sharebox">
                <div class="pic-3-text">
                    <span>标签:@Model.Tags.Replace(',',' ')</span>
                </div>
                <div class="new-3-share fans fans1">
                    <div class="bdsharebuttonbox">
                        <span class="share-3-to share-3-to1"></span>
                        <a href="#" class="qqkj qqkj1" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="weibo weibo1" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="qqweibo qqweibo1" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="weixin weixin1" data-cmd="weixin" title="分享到微信"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="line-cut" style="float:none" ;>
            <a href="/BeautyGirl/GirlDetails/@ViewBag.pre">
                <img src="/Content/Img/page-prev.png" class="page-prev" />
            </a>
            <a href="/BeautyGirl/GirlDetails/@ViewBag.next">
                <img src="/Content/Img/page-next.png" class="page-next" />
            </a>                     
        </div>
        <div class="text-content text-content1 fans fans1 clearfix" style="overflow:visible" ;>
            <div class="title-title titlie-title1">
                <p>相关推荐</p>
                <div class="title-title-1 fl"> </div>
            </div>
            <div class="recommend recommend1">
                <div class="fl">
                    @foreach (var item in (List<Models.MapModel.GirlsViewModel>)ViewBag.InTags)
                    {                                      
                    <p><a href="/BeautyGirl/GirlDetails/@item.Id">@item.Title</a></p> 
                     }             
                </div>               
            </div>
            @Html.Action("_GirlLeaveMsg","BeautyGirl")
        </div>
    </div>
    <!-- 底部 -->
    @Html.Partial("_ShuangZanFooter")
    <script src="~/Content/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="~/Content/js/personal_use.js"></script>
    <script src="~/Content/js/Public.js"></script>
    <script src="~/Content/js/new_games.js"></script>
    <script src="~/Content/js/mntk_details-1.js"></script>
    <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "38" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>

    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <link href="~/Content/layui-v1.0.9_rls/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <script src="~/Content/layui-v1.0.9_rls/layui/lay/modules/layer.js"></script>
    <script src="~/Content/layui-v1.0.9_rls/layui/layui.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script type="text/javascript">
        $(function () {
            pageviews();
            $('#btnAdd').click(function () {
                addComment();//添加评论
            });
        });
        function addComment() {
            var girlId = '@Model.Id';
            if ($('#msgTxt').val() == "") {
                layer.msg('<span style="color:white">提示：请输入评论信息</span>')
                return;
            }
            $.post("/BeautyGirl/AddGirlLeaveMsg", { reply: "", girlId: '@Model.Id', msg: $('#msgTxt').val(), ip: returnCitySN["cip"], city: returnCitySN["cname"] }, function (data) {
                //去后台判断是否含有禁用词
                var msgData = data.split(",");
                if (msgData[0] == "banned") {
                    layer.msg('<span style="color:white">' + msgData[1] + '</span>');
                    return;
                } else if (msgData[0] == "ipNo") {
                    layer.msg('<span style="color:white">' + msgData[1] + '</span>');
                    return;
                }
                else if (msgData[0] == "ok") {
                    layer.msg('<span style="color:white">' + msgData[1] + '</span>');
                    setTimeout(function () {
                        $('#msgTxt').val("");
                    }, 2000);
                    initTable(girlId);
                } else if (msgData[0] == "no") {
                    layer.msg('<span style="color:white">' + msgData[1] + '</span>');
                }
            });
        }
        function pageviews() {
            $.ajax({
                data: {
                    id: '@Model.Id'
                },
                type: 'post',
                url: '/BeautyGirl/Views',
                success: function (data) {
                    if (data == 'ok') {
                        $('#number').text(parseInt($('#number').text()) + 1);
                    } else if (data == "no") {
                        alert("系统繁忙，请稍候再试！")
                    } else {
                        alert("该攻略不存在！")
                    }
                }
            })
        }
    </script>
</body>
</html>