@model Models.OpenService_Package

@{
    Layout = null;
    List<Models.MapModel.MyServerGame> goServiceGame = (List<Models.MapModel.MyServerGame>)ViewBag.goGame;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>爽赞</title>
    <meta charset="UTF-8">
    <link href="~/Content/Css/Form.css" rel="stylesheet" />
    <link href="~/Content/Css/Public.css" rel="stylesheet" />
    <link href="~/Content/Css/SendService.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/js/myExtend.js"></script>
    <script src="~/Content/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="~/Content/js/Public.js"></script>
    <script src="~/Content/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
    </script>
</head>
<body>
    <div class="title">
        <span style="font-weight: bold;">修改开服表</span><strong>（开服时间点前1小时，将不支持修改）</strong>
    </div>
    <div class="main">
        <div>
            <span>游戏名称：</span>
            <input type="text" class="inputtext" id="gamename" value=@Model.GameName >
            <div id="gamenamelist"></div>
            <samp class="alt">输入游戏名根据下拉提示选择，新游戏入库联系QQ：<a href="tencent://message/?uin=2885630190&Site=爽赞游戏网&Menu=yes">2885630190</a></samp>
        </div>
        <div style="height: 100px;">
            <span>历史游戏：</span>
            <div id="history" class="inputtext">
                @foreach (var item in goServiceGame)
                {
                    <span>@item.GameName</span>
                }
            </div>
        </div>
        <div style="height: 65px;">
            <span>开服时间：</span>
            <p id="day">
                <input type="text" class="inputtext" id="startday" value="@Model.StartDate.Value.ToString("yyyy-MM-dd")" onfocus="WdatePicker({minDate:'%y-%M-%d',isShowClear:false,readOnly:true,onpicking:function(dp){$.getPackage(dp.cal.getNewDateStr());}})" style="width: 120px;" />
                <span class="inputtext">
                    <span>
                        <select id="time"></select>
                    </span>
                </span>
                <samp id="d1">今天</samp>
                <samp id="d2">明天</samp>
            </p>
            <samp class="alt" style="left: 355px;"></samp>
        </div>
        <div>
            <span>服务器名：</span>

            <p id="servers">
                <font>双线</font>
                <input type="text" class="inputtext" maxlength="4" style="width: 50px; padding-left: 10px; margin: 0 10px;" id="serversname" value="@Model.ServerName" />
                <font>服</font>
            </p>
            <samp class="alt" style="top: 10px; left: 270px;">填写阿拉伯数字，最多4个数字</samp>
        </div>
        <div>
            <span>游戏网址：</span>
            <input type="text" class="inputtext" id="url"  value="@Model.Url" style="width: 300px;" />
            <samp class="alt" style="left: 450px;">游戏登录地址</samp>
        </div>
        <div style="height: 180px;">
            <span>选择礼包：</span>
            <div id="packageList" class="tb List ">
                <div style="width: 100%;"></div>
            </div>
            <samp class="alt"></samp>
        </div>
        <div style="height:80px; border-bottom: 1px solid #E3E3E3;">
            <span>开服类型：</span>
            @if (Model.Rec_Hot == "1")
            {
                <p id="totop">
                    <label>
                        <input type="radio" name="type" id="top1" value="@Model.Rec_Hot" checked /><font>置顶开服</font>
                    </label>
                </p>
                 <samp class="alt" style="left: 240px; top: 10px;">选择“置顶”，将扣除1条置顶开服条数</samp>
               
            }
            else if (Model.Rec_Hot == "2")
            {
                
                <p id="totop2">
                    <label style="margin-top: 16px;">
                        <input type="radio" name="type" id="top2" value="@Model.Rec_Hot" checked /><font>全天开服</font>
                    </label>
                </p>
                <samp class="alt" style="left: 240px; top: 30px;">选择“全天”，将扣除1条全天开服条数</samp>
            }                    
        </div>
    </div>
    <div>
        <kbd class="btn" id="save" style="display: inline-block;width: 120px;margin-top: 20px;margin-left: 130px;height:40px;line-height:40px;">提交修改</kbd>
    </div>
</body>
</html>

<script>
   
    $(document).ready(function () {
        var gamename = $("#gamename"), serversname = $("#serversname"),
            startday = $("#startday"), time = $("#time"),
            url = $("#url");
        var names = [];
        $.ajax({
            type: "Post",
            url: "/FrontCompany/GameName",
            data: "",
            success: function (data) {
                names = data;
            },
        });
        for (var i = 0; i < 24; i++)
            time.append($("<option>").val(i).html(i < 10 ? "0" + i : i));
        time.val(new Date().getHours() + 1);
        time.change(function () {
            var alt = time.parents("div").eq(0).find(".alt");
            var d = new Date(startday.val());
            d.setHours($(this).val());
            if (d.getTime() < new Date().getTime()) {
                alt.removeClass("errok").addClass("err").html("开服时间不正确");
                return;
            }
            alt.html("").addClass("err errok");
        });
        var time1 = parseInt('@Model.StartDate.Value.ToString("HH")');
        $('#time option').eq(time1).attr('selected', 'selected');
        var time1date = $('#startday').val() + " " + time1 + ":0:0";
        
        $.ajax({
            type: "Post",
            url: "/FrontCompany/GetPackage",
            data: {
                gameName: gamename.val().trim(), startday: time1date
            },
            success: function (data) {
                if (data != "") {
                    $("#packageList div").empty();
                    // var js = JSON.parse(data.d);
                    var js = data;
                    $.each(js, function (i, val) {
                        var st = eval('new ' + val.StartDate.substr(1, val.StartDate.length - 2));
                        var et = eval('new ' + val.EndDate.substr(1, val.EndDate.length - 2));
                        $("#packageList div").append('<ul' + (i % 2 == 1 ? '' : ' class="alternat"') + '>' +
                            '    <li class="li6"><input type="radio" name="pk" value="' + val.Id + '" /></li>' +
                            '    <li class="li1">' + val.GameName + '</li>' +
                            '    <li class="li2"><span>' + st.getFullYear() + "-" + (st.getMonth() + 1) + "-" + st.getDate() + '<br/>' + et.getFullYear() + "-" + (et.getMonth() + 1) + "-" + et.getDate() + '</span></li>' +
                            '    <li class="li3">' + (val.ServerName != '通服' ? '双线' + val.ServerName + '服' : '通服') + '</li>' +
                            '    <li class="li4">' + val.Type + '</li>' +
                            '    <li class="li5">' + val.GiftName + '</li>' +
                            '</ul>');
                    });
                }
                else
                    $("#packageList div").html("无可选礼包");
            },
        });
        $("p#day #d1").click(function () {
            var d = new Date();
            var year = d.getFullYear();
            var month = d.getMonth() + 1;
            month = month < 10 ? '0' + month : month;
            var date = d.getDate();
            date = date < 10 ? '0' + date : date;
            $("#startday").val(year + '-' + month + '-' + date);
            $.getPackage(d);
        });
        $("p#day #d2").click(function () {
            var d = new Date();
            var year = d.getFullYear();
            var month = d.getMonth() + 1;
            month = month < 10 ? '0' + month : month;
            var date = d.getDate() + 1;
            date = date < 10 ? '0' + date : date;
            $("#startday").val(year + '-' + month + '-' + date);
            $.getPackage(d);
        });

        //根据游戏名与开始日期，确定礼包的显示
        $.getPackage = function (start_day) {
            if (gamename.val().trim() != "" && start_day != "")
                $.ajax({
                    type: "Post",
                    url: "/FrontCompany/GetPackage",
                    data: {
                        gameName: gamename.val().trim(), startday: start_day
                    },
                    success: function (data) {
                        if (data != "") {
                            $("#packageList div").empty();
                            // var js = JSON.parse(data.d);
                            var js = data;
                            $.each(js, function (i, val) {
                                var st = eval('new ' + val.StartDate.substr(1, val.StartDate.length - 2));
                                var et = eval('new ' + val.EndDate.substr(1, val.EndDate.length - 2));
                                $("#packageList div").append('<ul' + (i % 2 == 1 ? '' : ' class="alternat"') + '>' +
                                    '    <li class="li6"><input type="radio" name="pk" value="' + val.Id + '" /></li>' +
                                    '    <li class="li1">' + val.GameName + '</li>' +
                                    '    <li class="li2"><span>' + st.getFullYear() + "-" + (st.getMonth() + 1) + "-" + st.getDate() + '<br/>' + et.getFullYear() + "-" + (et.getMonth() + 1) + "-" + et.getDate() + '</span></li>' +
                                    '    <li class="li3">' + (val.ServerName != '通服' ? '双线' + val.ServerName + '服' : '通服') + '</li>' +
                                    '    <li class="li4">' + val.Type + '</li>' +
                                    '    <li class="li5">' + val.GiftName + '</li>' +
                                    '</ul>');
                            });
                        }
                        else
                            $("#packageList div").html("无可选礼包");
                    },

                });
            else
                $("#packageList div").empty();
            time.trigger("change");
        }
        $("#gamename").blur(function () {
            if (!$.check({
                el: $(this), nothing: "请填写游戏名称"
            })) {
                $("#packageList div").empty();
                return;
            }
            //检测在不在可发布范围内
            var v = $(this).val(), isok = false;
            $.each(names, function (i, val) {
                if (val.Name == v) {
                    isok = true;
                    return false;
                }
            });
            if (!isok) {
                $("#packageList div").empty();
                gamename.parents("div").eq(0).find(".alt").removeClass("errok").addClass("err").html('游戏名称不可以发布，新游戏入库联系QQ：<a href="tencent://message/?uin=2885630190&Site=爽赞游戏网&Menu=yes">2885630190</a>');
            } else {
                gamename.parents("div").eq(0).find(".alt").addClass("errok").html('');
            }
            $.getPackage(startday.val()); //调用礼包的读取
            //setTimeout(function () { $("#gamenamelist").empty().hide(); }, 100);
        }).keyup(function () {
            var p = [], v = $(this).val(), l = v.length;
            if (v == "") {
                $("#gamenamelist").hide();
            }
            else {
                $.each(names, function (i, val) {
                    if (val.Name.substr(0, l) == v)
                        p.push(val.Name);
                });
                if (p.length > 0) {
                    $("#gamenamelist").empty().show();
                    $.each(p, function (i, val) {
                        $("<span>").html(val).appendTo($("#gamenamelist"))
                    });
                }
            }
        });
        $("#gamenamelist").delegate("span", "click", function () {
            gamename.val($(this).html()).trigger("blur").parents("div").eq(0).find(".alt").html("").addClass("err errok");
            $("#gamenamelist").empty().hide();
        });
        $("#serversname").blur(function () {
            $.check({
                el: $(this), nothing: "请填写服务器名"
            });
        });
        $("#url").blur(function () {
            $.check({
                el: $(this), nothing: "请填写游戏网址"
            });
            var alt = $("#url").parents("div").eq(0).find(".alt");
            if ($("#url").val() == "http://") {
                alt.removeClass("errok").addClass("err").html("请填写游戏网址");
                return;
            }
            alt.html("").addClass("err errok");
        });

        $("#reset").click(function () { location.reload(); });
        $("#history span").click(function () {
            gamename.val($(this).html()).trigger("blur").parents("div").eq(0).find(".alt").html("").addClass("err errok");
        });
        $("#save").click(function () {
            if (!$.check({
                el: gamename, nothing: "请填写游戏名称", focus: true
            })) return;
            var v = gamename.val(), isok = false;
            $.each(names, function (i, val) {
                if (val.Name == v) {
                    isok = true;
                    return false;
                }
            });
            if (!isok) {
                gamename.focus().parents("div").eq(0).find(".alt").removeClass("errok").addClass("err").html('游戏名称不可以发布，新游戏入库联系QQ：<a href="tencent://message/?uin=2885630190&Site=爽赞游戏网&Menu=yes">2885630190</a>');
                return;
            }
            if (!$.check({
                el: startday, nothing: "请选择开服时间", focus: true
            })) return;

            //开服时间判断
            var alt = time.parents("div").eq(0).find(".alt");
            var d = new Date(startday.val());
            d.setHours(time.val());
            if (d.getTime() < new Date().getTime()) {
                alt.removeClass("errok").addClass("err").html("开服时间不正确");
                return;
            }
            alt.html("").addClass("err errok");

            if (!$.check({
                el: serversname, nothing: "请填写服务器名", focus: true
            })) return;
            if (!$.check({
                el: url, nothing: "请填写游戏网址", focus: true
            })) return;

            //网址判断
            var alt = $("#url").parents("div").eq(0).find(".alt");
            if ($("#url").val() == "http://") {
                alt.removeClass("errok").addClass("err").html("请填写游戏网址");
                return;
            }
            alt.html("").addClass("err errok");          
            var packageid = $("#packageList input[type=radio]:checked").val();
            var rec_hot = $("#top1").is(":checked");
            $.ajax({
                type: "Post",
                url: "/FrontCompany/ServiceEdit",
                data: {
                    id: '@Model.Id',
                    companyId:'@Model.companyId',
                    gameName: gamename.val().trim(), starttime: startday.val() + " " + time.val() + ":0:0", serverName:serversname.val().trim(), url: url.val().trim(), packageId: packageid == undefined ? 0 : packageid, rec_hot: $("#top1").is(":checked") ? "1" : 2
                },
                success: function (data) {
                    $('#save').hide();
                    if (data == "ok") {                       
                        $(".main").html('<div class="allalt">恭喜您！开服表修改成功！请等待审核！</div><a href="/FrontCompany/SendOpenService" class="btn"  style="display: inline-block;width: 120px;margin-top: 20px;margin-left: 390px;height:40px;line-height:40px;text-decoration:none;">继续发布</a>');
                    }
                    else
                        alert("修改失败")
                },
            });
        });
    });
</script>

