@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜开测</title>
    <meta name="keywords" content="开测表,网页游戏测试表,网页游戏开测表,页游开测信息,网页游戏测试,爽赞网">
    <meta name="description" content="爽赞网网页游戏开测表是全国最大的最新的网页游戏开测信息发布地，涵盖各类网页游戏具体开测时间，为各位玩家提供最新、最全的网页游戏开测信息。">
    <meta name="viewport" content="width=1124">
    <link href="~/Content/Css/index.css" rel="stylesheet" />
    <link href="~/Content/Css/reset.css" rel="stylesheet" />
    <link href="~/Content/Css/Public.css" rel="stylesheet" />
    <link href="~/Content/Css/commercial.css" rel="stylesheet" />
    <link href="~/Content/Css/amoywel.css" rel="stylesheet" />
    <link href="~/Content/Css/Openservice.css" rel="stylesheet" />
    <link href="~/Content/Css/usename.css" rel="stylesheet" />
    <link href="/Content/Img/favicon.ico" type="image/x-icon" rel="shortcut icon" />
</head>
<body>
    @Html.Action("_TwoShuangzanHeader", "Home")
    @Html.Action("ShuangzanHeader", "NewsInfo")
    <div class="wide details">当前位置：<a href="">爽赞网</a> > <a href="/OPenServices/TestIndex">开测表</a> > <a href="/OPenServices/TestSearch?key=@TempData["Key"]">@TempData["Key"]</a></div>
    <div class="opentest wide">
        <form action="/OpenServices/TestSearch" method="get">
            <h6>
                <em>【<b>@TempData["Key"]</b>】相关开测</em>
                <span class="sousou soso2"><s></s><input type="text" id="key" name="key" placeholder="游戏名、平台名" class="sotxt2" onkeypress="if (event.keyCode == 13)_search();" /><input type="submit" value="搜开测" class="Searstrate2" /></span>
            </h6>
        </form>
        <div class="kcb">
            <i class="timeline timeline1"></i>
            <div class="todaycs">
                <div class="todayco">
                    <img src="/Content/Img/notest.png" style="margin-top:20px; margin-left:300px;">
                        @foreach (var item in (List<Models.MapModel.TestViewModel>)ViewBag.TestSearch)
                        {
                            <ul>                     
                            <li class="cstime">
                                <i></i><p><span class="timeclock">@item.StartTime.Value.ToString("HH:mm")</span><s></s><span><b>@item.StartTime.Value.ToString("MM-dd")</b></span></p>
                            </li>
                            <li class="cscontar">
                                <div><img src="/Content/GameImg/@item.SmallImg" alt="@item.GameName"></div><div class="cscontartxt">
                                    <p class="p1"><a><b>@item.GameName</b></a></p><s></s><p class="p2">
                                        <span>状态：<b>@item.State</b></span>
                                        <span>研发：<s>@item.Company</s></span>
                                        @if (item.Type == "1")
                                        {
                                            <span>类型：<s>角色扮演</s></span>
                                        }
                                        else if (item.Type == "2")
                                        {
                                            <span>类型：<s>战争策略</s></span>
                                        }
                                        else if (item.Type == "3")
                                        {
                                            <span>类型：<s>模拟经营</s></span>
                                        }
                                        else if (item.Type == "4")
                                        {
                                            <span>类型：<s>休闲竞技</s></span>
                                        }
                                        else if (item.Type == "5")
                                        {
                                            <span>类型：<s>社区养成</s></span>
                                        }
                                        else if (item.Type == "6")
                                        {
                                            <span>类型：<s>儿童游戏</s></span>
                                        }
                                        @if (item.Play == "1")
                                        {
                                            <span>玩法：<s>即时</s></span>
                                        }
                                        else if (item.Play == "2")
                                        {
                                            <span>玩法：<s>回合</s></span>
                                        }
                                        else if (item.Play == "3")
                                        {
                                            <span>玩法：<s>其他</s></span>
                                        }
                                    </p>
                                </div><p><a href="/Game/GameDetail/@item.Id" target="_blank"><input type="button" value="进入专区" class="kfzq"></a>

                                          @if (item.PackageUrl == null || item.PackageUrl == "http://"||item.PackageUrl=="")
                                          {
                                              <a>  <input type="button" value="暂无礼包" disabled="disabled" class="kflb" disabled="disabled"></a>
                                          }
                                          else
                                          {
                                              <a href="@item.PackageUrl" target="_blank"><input type="button" value="领礼包" class="kflb"></a>
                                          }
                                <a href="@item.Url" target="_blank" rel="nofollow"><input type="button" value="开始游戏" class="kfyx"></a></p>
                            </li>
                        
                    </ul>  
                        }                                 
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    @Html.Partial("_ShuangZanFooter")
    <!-- 回到顶部 -->
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/js/Public.js"></script>
    <script src="~/Content/js/personal_use.js"></script>
    <script src="~/Content/js/openservice.js"></script>
</body>
</html>